@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #154599;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  min-height: 600px;
  background-image: url("../../static/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section {
  padding-top: 75px;
  padding-bottom: 60px;
}

.section-title {
  margin-bottom: 30px;
  span {
    color: #ff8500;
  }
}

.stage-top {
  text-align: center;
}

.stage-title {
  position: relative;
  display: inline-block;
  padding: 15px 0 15px 70px;
  font-size: 42px;
  color: #154599;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 8px;
    left: 0;
    background-image: url("../../static/img/icon-step.svg");
  }
}

.stage-box {
  padding: 40px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: #154599;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.bg-light {
  background-color: #fff;
}

.bg-dark {
  background-color: #f7f8fa;
}
