.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #154599;

  &-inner {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }

  &-logos {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;

    img {
      width: 30%;
    }
  }
}
